table {
    border-collapse: collapse;
    width: 100vw;
    height: 100vh;
    
}

td {
    border: 1px solid black;
    padding: 10px;
}

.one {
    background-color: rgb(77, 197, 30);
    color: rgb(255, 255, 255);
}

.two {
    background-color: rgb(9, 9, 128);
    color: rgb(255, 255, 255);
}